
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<p>
    At Georgian, we work with industry and community partners to offer relevant, cutting-edge curriculum, quality work placements and co-op experiences with top employers.

    Our students graduate with the skills and the mindset to be innovative thinkers and changemakers who can transform their workplaces and communities.

    Our vision is to accelerate success through exceptional teaching and learning, innovation and partnerships.
</p>
<br />
<br />
<p><a href=https://www.georgiancollege.ca/about-georgian/ /> Source of Data </a>.</p>


