@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Georgian College</h1>
        <br />
        <h2>Website based on Donations</h2>
        <br />
        <p>
            This website is mainly for donors who want to donate fees to georgian college students who are facing problems to pay their tuition fees in this hard time of COVID-19.
         </p>
        <p>   
            Donors can see different list of students based on their courses, who really needs help and then can donate fees according to credits to students. 
            Donor can choose any number of credits to donate and then first, those donations will be added to donation Box where they can do changes to their donations. 
            And then donors have to give their personal info for college records and finally they can pay through safe transaction method by their credit or debit card. 
         </p>
        <p>
            And there is a donations page where donors can see their previous details of their donations.
        
       </p>
        <br />

        <h6>Sources</h6>
        <p><a href="https://www.georgiancollege.ca/academics/academic-and-career-preparation/">Source of Image </a>used in Navbar.</p>
        <p><a href=https://bootswatch.com/> Source of bootstrap </a>.</p>
    </div>
